@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~react-tabs/style/react-tabs.css";
@import "./Spinner.less";
@import "./Form.less";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.rules-condition-list-group .list-group-item {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.panel {
    box-shadow: 1px 1px 1px 1px gray;
}